/* Variables */
  :root{
    /* ---- Primary ---- */
    --Violet: hsl(257, 40%, 49%);
    --SoftMagenta: hsl(300, 69%, 71%);
    /* Font Family */
    --Poppins-family: 'Poppins', sans-serif; /* Headings */
  }
/* Global Rules */
  * {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  body {
    min-height: 95vh;
    width: 100%;
    background-color: var(--Violet);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Open Sans', sans-serif;
  }
  @media (min-width: 992px) {
    body {
      background-image: url(../images/bg-desktop.svg);
    }
  }
  @media (max-width: 991px) {
    body {
      background-image: url(../images/bg-mobile.svg);
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    display: block;
  }
/* Styling The Header */
  header {
    width: 100%;
  }
  .logo {
    margin: 50px 69px 65px;
    width: 240px;
    height: 80px;
  }
  @media (max-width: 991px) {
    .logo {
      margin: 25px;
    }
  }
  .logo > img {
    width: 90%;
    height: 85%;
  }
/* Styling The main */
  .section {
    display: flex;
    width: 100%;
  }
  @media (max-width: 991px) {
    .section {
      flex-direction: column;
    }
  }
  .image {
    margin: auto 70px;
  }
  @media (max-width: 991px) {
    .image > img {
      width: 100%;
    }
    .image {
      margin: auto 40px 50px;
    }
  }
  .content {
    text-align: left;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 20px;
  }
  .title {
    text-transform: capitalize;
    font-size: 3.5rem;
    max-width: 90%;
  }
  .description {
    max-width: 85%;
    line-height: 27px;
    font-size: 18px;
  }
  @media (max-width: 991px) {
    .content {
      margin: auto;
      text-align: center;
    }
    .title {
      font-size: 2rem;
      margin: auto;
      max-width: 90%;
    }
    .description {
      margin: auto;
      font-size: 1.05rem;
      max-width: 85%;
    }
  }
  .register {
    width: 33%;
    padding: 15px;
    background-color: white;
    color: var(--Violet);
    text-align: center;
    border-radius: 35px;
    font-size: 18px;
    transition: 0.3s ease;
  }
  @media (max-width: 991px) {
    .register {
      margin: auto auto 50px;
      padding: 10px;
      width: 60%;
    }
  }
  .register:hover {
    color: white;
    background-color: var(--SoftMagenta);
  }
/* Styling The Footer */
  footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 75px;
  }
  @media (max-width: 991px) {
    footer{
      justify-content: center;
      margin: auto auto 25px;
    }
  }
  .list {
    display: flex;
    gap: 20px;
  } 
  .list > li > a {
    border: 1px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.3s linear;
  }
  .facebook:hover,
  .twitter:hover,
  .inst:hover{
    background-color: white;
    animation: rotateY 0.5s;
  }
  .facebook:hover {
    color: #4267B2;
  }
  .twitter:hover {
    color: #1DA1F2;
  }
  .inst:hover {
    color: var(--SoftMagenta);
  }
  @keyframes rotateY {
    0% {
      transform: rotateY(0);
    }
    100% {
      transform: rotateY(360deg);
    }
  }